<div class="container mt-5 d-flex flex-column align-items-center justify-content-center">
    <div class="card shadow-lg border-0">
        <div class="card-body text-center p-5">
            <h2 class="card-title mb-4 "><i class="bi bi-check-circle-fill"></i> ¡Mensaje Enviado!</h2>
            <p class="card-text lead">Tu mensaje ha sido enviado al vendedor. Pronto recibirás una respuesta.</p>
            <a href="@Url.Action("Index", "Productos")" class="btn btn-primary custom-font-button mt-4 mt-4">Volver a los Productos</a>
        </div>
    </div>
</div>